// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//my CSS

#list-table {
    border-collapse: collapse !important;
    width: 100%;
    font-size: 11pt;
    background-color: #fff;

    td, th{
        border: 1px solid #ddd !important;
        padding: 3px !important;
    }

    tr:hover{
        background-color: #F5F5F5 !important;
    }

    th{
        padding-top: 4px !important;
        padding-bottom: 4px !important;
        color: black !important;
    }

    .fit {
        width:1%;
        white-space:nowrap;
        padding: 0 10px !important;
    }
  }

ol.breadcrumb{
    border-radius: 6px;
}

form[name='create']{
    img#view-img{
        height: auto;
        width: 100%;
    }

    .row[name='row-create']{
        padding: 10px 10px;
        border-radius: 8px;
        border: thin solid #CCC;
        margin: 25px 0px;
    }
}
