// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~bootstrap/scss/bootstrap';
@import "~toastr/toastr.scss";
@import "~jquery-datetimepicker/jquery.datetimepicker.css";
@import "~jquery-confirm/dist/jquery-confirm.min.css";

//my CSS
ol.breadcrumb{
    border-radius: 6px;
}

form[name='create']{
    img#view-img{
        height: auto;
        width: 100%;
    }

    .row[name='row-create']{
        padding: 10px 10px;
        border-radius: 8px;
        border: thin solid #CCC;
        margin: 25px 0px;
    }
}

.header{
    font-weight: bold;
    padding: 8px 0;
}

.action-button{
    font-size: 17pt;
    margin: 0 3px 0 3px;
    cursor: pointer;
}

.edit{
    color: cadetblue;
}

.quick-view{
    color: gray;
}

.delete{
    color: red;
}

.ajax-active{
    cursor: pointer;
}